html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.txt-subtitle-color {
  color: rgb(107, 107, 107);
}
.main-vertical-margin {
  padding-top: 15px;
  padding-bottom: 15px;
}
.profile-img {
  width: 300px;
  margin-block: 25px;
}
.scroll {
  overflow-y: auto;
}

/* TimeLine */

.info-card {
  background-color: #f9f3f3;
  margin-block: 5px;
}
.no-margin {
  margin: 0;
}

/* texto */

.text-title {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-variant: petite-caps;
}
.text-subtitle {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}

.text-time {
  letter-spacing: 1px;
  font-size: 1rem;
  font-style: oblique;
}
.icon-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
